

*{
    box-sizing: border-box;
}

body{
    margin-left: 30%;
    margin-right: 30%;
}

.board-top{
    text-align: center;
}

.game-page-box{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-top: 30%;
    width: 600px;
    height: 600px;
    border: 5px solid black;
}
.game-square{
    border: 1px solid black;
    text-align: center;
    padding-top: 100px;
}
.text-boxes{
    position: absolute;
    margin-left: -25%;
    margin-bottom: 5%;
    font-size: 14px;
}

#a3{
    cursor: pointer;
}
#a2{
    cursor: pointer;
}
#a1{
    cursor: pointer;
}
#b3{
    cursor: pointer;
}
#b2{
    cursor: pointer;
}
#b1{
    cursor: pointer;
}
#c3{
    cursor: pointer;
}
#c2{
    cursor: pointer;
}
#c1{
    cursor: pointer;
}

